{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <meta name="description" content="Add a new book to the virtual bookshelf.">
    <title>Add book - My Virtual Bookshelf</title>
{% endblock head %}
{% block content %}
<main class="container">
    <h1>Add new book</h1>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <ul class="error-list list-group">
        {% for error in errors %}
            <li class="list-group-item list-group-item-danger">
                <strong>Error: {{ error }}</strong>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('bookshelf.add_book') }}" method="post">
        <div class="row mx-auto">
            <label class="form-label" for="book-title">Book Title</label>
            <input class="form-control" type="text" id="book-title" name="book-title" required>
        </div>
        <div class="row mx-auto">
            <label class="form-label" for="book-author">Book Author</label>
            <input class="form-control" type="text" id="book-author" name="book-author" required>
        </div>
        <div class="row mx-auto">
            <label class="form-label" for="rating">Rating</label>
            <input class="form-control" type="number" id="rating" name="rating" min="0" max="10" step="0.1" required>
        </div>
        <button class="btn btn-dark" type="submit">Save</button>
        <a class="btn btn-dark" href="{{ url_for('index') }}">Cancel</a>
    </form>
</main>
{% endblock content %}
