{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <meta name="description" content="Edit data for a specific book.">
    <title>Edit book data - My Virtual Bookshelf</title>
{% endblock head %}
{% block content %}
<main class="container">
    <h1>Edit book data</h1>
    <form action="{{ url_for('bookshelf.edit_book', id=book.id) }}" method="post" novalidate>
        {% if form.csrf_token %}
            {{ form.csrf_token }}
            {% if form.csrf_token.errors %}
                <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}
        {% endif %}
        {{ render_field(form.book_title) }}
        {{ render_field(form.book_author) }}
        {{ render_field(form.book_rating) }}
        {{ render_field(form.submit_btn, button_style='dark') }}
        <a class="btn btn-dark btn-md" href="{{ url_for('index') }}">Cancel</a>
    </form>
</main>
{% endblock content %}
