{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <meta name="description" content="A virtual bookshelf.">
    <title>My Virtual Bookshelf</title>
{% endblock head %}
{% block content %}
    <main class="container">
        <h1>My Virtual Bookshelf</h1>
        <a href="{{ url_for('bookshelf.add_book') }}" class="btn btn-dark">New book</a>
        {% if all_books %}
        <a href="{{ url_for('bookshelf.delete_all') }}" class="btn btn-dark">Clear all</a>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Book Title</th>
                    <th scope="col">Book Author</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in all_books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.rating }}</td>
                    <td>
                        <a
                            class="icon-link" 
                            href="{{ url_for('bookshelf.edit_book', id=book.id) }}" 
                            title="Edit book data"
                        >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a 
                            class="icon-link" 
                            href="{{ url_for('bookshelf.delete_book', id=book.id) }}" 
                            title="Remove book"
                        >
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %} 