{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <meta name="description" content="A virtual bookshelf.">
    <title>My Virtual Bookshelf</title>
{% endblock head %}
{% block content %}
    <main class="container">
        <h1>My Virtual Bookshelf</h1>
        <a href="{{ url_for('add_book') }}" class="btn btn-dark">New book</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Book Name</th>
                    <th scope="col">Book Author</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
{% endblock content %} 