body {
    min-height: 100vh;
    background-image: radial-gradient(circle 755px at 10.1% 95.3%, rgba(242, 188, 141, 1) 0%, rgba(242, 159, 141, 1) 100.2%);
    padding: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin: 2.5rem 0;
}


.btn {
    min-width: 8rem;
    margin: 0.5rem;
}

table {
    margin-top: 3rem;
}

tbody td:last-child a {
    display: inline-block;
}

.bi {
    margin: 0.5rem;
}

form {
    max-width: 24rem;
    margin: 0 auto;
}

form .btn {
    margin-top: 1.5rem;
}

.row {
    margin-bottom: 0.5rem;
}

label {
    font-weight: bold;
}

input {
    text-align: center;
}